security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            entry_point: App\EventListener\AuthenticationEntryPoint
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: app_dashboard
                enable_csrf: false
            logout:
                path: app_logout
                target: app_login

    # Hiérarchie des rôles - ROLE_ADMIN hérite de tous les autres rôles
    role_hierarchy:
        ROLE_ADMIN: [ROLE_ENCODEUR, ROLE_VALIDATOR, ROLE_USER]
        ROLE_VALIDATOR: [ROLE_USER]
        ROLE_ENCODEUR: [ROLE_USER]

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
